<?xml version="1.0"?>
<robot name="robotblack_property" xmlns:xacro="http://ros.org/wiki/xacro">

  <!--property-->
  <xacro:property name="base_mass" value="14"/>
  <xacro:property name="wheel_mass" value="1"/>
  <xacro:property name="box_mass" value="1"/>
  <xacro:property name="laser_mass" value="0.1"/>
  <xacro:property name="camera_link" value="0.05" />

  <!--color-->
  <xacro:property name="material_yellow">
    <material name="yellow">
      <color rgba="${255/255} ${226/255} ${0/255} 1"/>
    </material>
  </xacro:property>
  <xacro:property name="material_black">
    <material name="black">
      <color rgba="0.1 0.1 0.1 1"/>
    </material>
  </xacro:property>
  <xacro:property name="material_blue">
    <material name="blue">
      <color rgba="0.203125 0.23828125 0.28515625 1.0"/>
    </material>
  </xacro:property>
  <xacro:property name="material_light_grey">
    <material name="light_grey">
      <color rgba="0.6 0.6 0.6 1"/>
    </material>
  </xacro:property>

  <!-- inertials with origin -->
  <!-- see https://secure.wikimedia.org/wikipedia/en/wiki/List_of_moment_of_inertia_tensors -->
  <xacro:macro name="sphere_inertial" params="radius mass *origin">
    <inertial>
      <mass value="${mass}" />
      <xacro:insert_block name="origin" />
      <inertia ixx="${0.4 * mass * radius * radius}" ixy="0.0" ixz="0.0"
        iyy="${0.4 * mass * radius * radius}" iyz="0.0"
        izz="${0.4 * mass * radius * radius}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="cylinder_inertial" params="radius length mass *origin">
    <inertial>
      <mass value="${mass}" />
      <xacro:insert_block name="origin" />
      <inertia ixx="${0.0833333 * mass * (3 * radius * radius + length * length)}" ixy="0.0" ixz="0.0"
        iyy="${0.0833333 * mass * (3 * radius * radius + length * length)}" iyz="0.0"
        izz="${0.5 * mass * radius * radius}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="box_inertial" params="x y z mass *origin">
    <inertial>
      <mass value="${mass}" />
      <xacro:insert_block name="origin" />
      <inertia ixx="${0.0833333 * mass * (y*y + z*z)}" ixy="0.0" ixz="0.0"
        iyy="${0.0833333 * mass * (x*x + z*z)}" iyz="0.0"
        izz="${0.0833333 * mass * (x*x + y*y)}" />
    </inertial>
  </xacro:macro>

</robot>